{% extends 'basic.html' %}
{% block title%} Microintelligence| About
{% endblock %}

{% block body %} 




 <!-- About Section started here  -->

 <section>
    <div class="container my-4">
      <h1 class="text-center">About US:-</h1>
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <img src="/media/company1.jpg" alt="company logo" class="logo img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12 my-4">
          <p>
          <h2>Who We are?:-</h2> Microintelligence is a professional software, website development company in India
          that endeavor on highly
          proficient, timely delivered and cost effective software, website development services. We are highly
          experienced in offering offshore software development and project
          management. Some of our services include Software Development, Client server application, E-commerce
          software development, Content management development, E-governance software, Web application development,
          E-Commerce development, Database application development.Our efforts focus on concept, design, development
          and re-engineering of web businesses. We are working closely with software majors on new applications for
          user demographics to the history of purchase decisions with instant comparisons from distributed databases.
          Efforts on to design and develop complex data structures and tools that would be helpful for companies to
          track and analyze purchase decisions instantly for marketing intelligence systems. We are also working
          closely with our clients to help them leverage the intra net design along with the web design for the quick
          and immediate capturing of user orders.
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <img src="/media/company3.jpg" alt="img" class="img-fluid logo">
        </div>
        <div class="col-lg-6 col-md-6 col-12 my-4">
          <p>
          <h2 class="overview"> Company OverView:-</h2>We understand that technology has to keep and be in complete
          consonance with the competitive strategies of our clients and businesses we service. In tune with this
          principle, we have worked closely with our clients in understanding their business processes and the
          challenges they face in the data driven information age. Deriving business intelligence from business data
          is as enormous challenge which our clients face. By developing custom made solution for each Industry we
          have helped our clients reap the fullest rewards of next generation software technologies. Our team of
          business strategy consultant generates new data structures that match the demands of business plans with a
          set of the latest information tools. Our team has worked closely with technology management teams in leading
          consulting companies over the world. Our teams of core software specialist have gained invaluable experience
          in the design of new models of data driven business strategies in major telecom, finance, Manufacturing and
          Banking companies.
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}