{% extends 'basic.html' %}
{% block title%} Microintelligence| Services{% endblock %}
{% block body %}

<!-- services started here  -->

<section>
    <div class="container my-3">
        <h1 class="text-center">Services:-</h1>
        <hr>
        <div class="row text-center">
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/main.jpg" class="card-img-top" alt="Software">
                <div class="card-body">
                    <h5 class="card-title">Software Development</h5>
                    <p class="card-text">We provide Custom Softwares, 80% of india and Private Institutes, Hospitals,
                        Schools
                        Offices are using our softwares. Like School Management, Resturant and all Customized Softwares
                    </p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>

            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/des 5.jpg" class="card-img-top" alt="Website">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">We provide Static and Dynamic Website Design and Development in PHP4, PHP5
                        using MySql
                        and pyhone Django etc. We also provide Content Management System(CMS) as Joomla, Wordpress and
                        E-commerce.
                    </p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/home.jpg" class="card-img-top" alt="Web Hosting">
                <div class="card-body">
                    <h5 class="card-title">Web Hosting</h5>
                    <p class="card-text">We provide the web hosting services in india. we provide the many type of
                        hosting
                        services like:- cloud hosting, VPN hosting, business hosting, shared hosting etc... with
                        offordible price
                        range with faster speed any website.</p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
        </div>

        <div class="row text-center my-3">
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/webdesigning.jpg" class="card-img-top" alt="Software">
                <div class="card-body">
                    <h5 class="card-title">Web Designing</h5>
                    <p class="card-text">We provide Static and Dynamic Website Design and Development in PHP4, PHP5
                        using MySql
                        and pyhone Django etc. We also provide Content Management System(CMS) as Joomla, Wordpress and
                        E-commerce
                        website with affordable price range.
                    </p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>

            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/ecommerce.png" class="card-img-top" alt="Website">
                <div class="card-body">
                    <h5 class="card-title">E-Commerce</h5>
                    <p class="card-text">We provide responsive and Dynamic E-commerce website in PHP4, PHP5 using MySql
                        and pyhone Django etc. We also provide data base Management System E-commerce Website.
                    </p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/webapplication.jpg" class="card-img-top" alt="Web Hosting">
                <div class="card-body">
                    <h5 class="card-title">Web Applications</h5>
                    <p class="card-text">we provide the Web Application services in many powerful programming laguage
                        like:-
                        PHP,Python, Django, Html, Css etc with affordable price and costumer satisfation...</p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
        </div>

        <div class="row text-center my-3">
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/Desktop.jpg" class="card-img-top" alt="Software">
                <div class="card-body">
                    <h5 class="card-title">Desktop Applications</h5>
                    <p class="card-text">We provide Custom Softwares for Desktop, 80% of india and Private Institutes,
                        Hospitals, Schools
                        Offices are using our Desktop softwares. Like School Management, Resturant and all Customized
                        Desktop
                        Softwares.</p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>

            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/Domain.jpg" class="card-img-top" alt="Website">
                <div class="card-body">
                    <h5 class="card-title">Domain Hosting</h5>
                    <p class="card-text">We provide the Domain hosting services in india. we provide the many type of
                        Domain
                        hosting services like:- .com , .in, .gov, .com.in etc... with offordible price range & costumer
                        satisfaction.
                    </p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="/media/android.jpg" class="card-img-top" alt="Web Hosting">
                <div class="card-body">
                    <h5 class="card-title">Android Applications</h5>
                    <p class="card-text">We provide Custom Android app development, 80% of india and Private Institutes,
                        Hospitals, Schools Offices are using our Android applications. Like School Management, Resturant
                        ect.
                        Android applications development.</p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
            <div class="card mx-2 my-3" style="width: 18rem;">
                <img src="/media/blog.jpg" class="card-img-top" alt="Web Hosting">
                <div class="card-body">
                    <h5 class="card-title">Blog Development</h5>
                    <p class="card-text">We provide Dynamic Web blog Design and Development in PHP4, PHP5 using MySql
                        and pyhone
                        Django etc. We also provide Database Management System as Wordpress and E-commerce website with
                        affordable
                        price range.</p>
                    <a href="contact" class="btn btn-primary">Click For Buy</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}